<h1>What would you like to manage today?</h1>
<h3>View Available <%= link_to "Book Stores", book_stores_path %>
<h3>View All <%= link_to "Recipe Books", recipe_books_path %>
<h3>View All <%= link_to "Recipes", recipes_path %>

<br>
<br>

<%= link_to "Log Out", logout_path %>