<h1>What would you like to manage today?</h1>
<h3>View what you have in <%= link_to "stock", stock_quantities_path %></h3>
<h3>View available <%= link_to "book stores", book_stores_path %>
<h3>View All <%= link_to "Recipe Books", recipe_books_path %>
<h3>View All <%= link_to "Recipes", recipes_path %>