<h1>Welcome Manager!!</h1>
<h3>Please Sign in or Sign Up to Manage your Inventory</h3>
<br>
<h4><%= link_to "Sign In", signin_path %></h4>
<br>
<h4><%= link_to "Sign Up", new_manager_path %></h4>
<br>
<%= image_tag "home.jpg" %>