<h1>List of Book Stores</h1>
<ul>
<% @book_stores.each do |book_store| %>
  <li><%= link_to book_store.name, book_store_path(book_store) %></li>
<% end %>
</ul>

<br>

<%= link_to "Log Out", logout_path %>